/* Import the font for the title */
@import url(https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap);

/* Change the background colour of the main website */
body {
    background-color: grey;
}

/* Customize the title */
.title {
    background-color: blue;
    font-family: 'Hepta Slab', serif;
    font-size: 48px;
    text-align: center;
}

/* Added this entry so the team can see how things are done in the CSS file */
.description {
    background-color: greenyellow;
}

copy and paste linc into your search engine and join the discord  https://discord.gg/ChwxSMz also apperently there are errors in the css file and there just from the linc so dont worry