/* Import the font for the title */
@import url(https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap);

/* Change the background colour of the main website */
body {
    background-color: grey;
}

/* Customize the title */
.title {
    background-color: blue;
    font-family: 'Hepta Slab', serif;
    font-size: 48px;
    text-align: center;
}

/* Added this entry so the team can see how things are done in the CSS file */
.description {
    background-color: greenyellow;
}

.container {
    text-align: center;
}

button {
     /* position: absolute; */
     /* left: 50%; */
     font-size: 60px;
     width: 150px;
     height: 70px;
}
 
#box, #box1, #box2{
    width: 150px;
}